.connection-lost {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1055;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
}
.connection-lost:after {
  content: "";
  background: rgb(231 239 246 / 79%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.connection-lost .lost-msg {
  background: #f8d7da;
  padding: 30px;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0 1px 6px rgb(248 215 218 / 90%);
  max-width: min(100% - 40px, 800px);
  width: 100%;
  position: relative;
  z-index: 1;
}
.connection-lost .lost-msg h2 {
  color: #721c24;
  font-size: 30px;
  margin: 0 0 3px;
}
.lost-msg p {
  color: #404040;
}
.connection-establish {
  position: fixed;
  bottom: 0;
  background: #00a891;
  z-index: 7;
  right: 0;
  color: #fff;
  min-width: 320px;
  padding: 4px 20px;
}
.connection-establish p {
  font-size: 16px;
}
.connection-lost .lost-msg button {
  position: absolute;
  right: 20px;
  background: 0 0;
  color: #721c24;
  font-weight: 500;
  top: 20px;
  border: 0
}
@media only screen and (max-width: 767px) {
  .connection-lost .lost-msg h2 {
    font-size: 20px;
    line-height: 1.3;
    margin: 0 0 8px;
  }
  .lost-msg p {
    font-size: 14px;
  }
  .connection-lost {
    opacity: 0.9;
  }
  .connection-lost .lost-msg {
    padding: 20px;
  }
}
